{
    "tabWidth": 4,
    "useTabs": false,
    "tailwindStylesheet": "./resources/css/app.css",
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss",
        "prettier-plugin-blade"
    ],
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
