.card {
    @apply block overflow-clip rounded-md bg-fsim-medium shadow-lg;
}

a.card:not([href]) {
    @apply bg-fsim-dark text-text-secondary;
}

.button {
    @apply flex h-12 items-center gap-inline overflow-clip rounded-md px-inline;
}

.text-input {
    @apply h-12 rounded-md border-2 px-inline;
}

.file-input {
    @apply rounded-xl border-4 border-dashed border-text-secondary bg-fsim-medium px-inline py-content text-center;
}

.file-input::file-selector-button {
    @apply rounded-sm bg-fsim-light px-4 py-2;
}

.table {
    @apply w-full;
}

.table :is(th, td) {
    @apply p-inline;
}

.table th {
    @apply text-left font-medium;
}

.table thead {
    @apply border-b-2 border-text-secondary/80;
}

.table thead th {
    @apply text-left text-sm text-text-secondary;
}

.table tbody tr:not(:first-child) {
    @apply border-t border-text-secondary/40;
}

.table caption {
    caption-side: bottom;
    @apply border-t-2 border-text-secondary/80 p-4 text-text-secondary;
}

.checkbox {
    @apply grid h-6 w-6 appearance-none place-items-center rounded-sm bg-fsim-medium;
}

.checkbox::after {
    content: "";
    width: 5px;
    height: 9px;
    border: 2px solid white;
    border-top: none;
    border-left: none;
    transform: rotate(45deg) scale(0);
    margin-bottom: 2px;
}

.checkbox:checked {
    @apply border-fsim-light bg-fsim-light;
}

input[type="checkbox"]:checked::after {
    transform: rotate(45deg) scale(1.2);
}

.badge {
    @apply inline-flex w-fit items-center gap-1 rounded-full bg-fsim-medium px-2 py-1 align-middle text-xs;
}

.badge svg {
    @apply size-4;
}

.form-bottom-text {
    @apply text-sm text-text-secondary;
}
