@theme {
    --font-rubik: "Rubik", ui-sans-serif, system-ui, sans-serif;

    --color-fsim: #4B78D3;

    --color-fsim-dark: #111828;
    --color-fsim-medium: #1E3054;
    --color-fsim-light: #365491;

    --spacing-wrapper: calc(6 * var(--spacing));

    --spacing-inline: calc(4 * var(--spacing));
    --spacing-content: calc(8 * var(--spacing));
    --spacing-section: calc(12 * var(--spacing));
}
