@theme {
    --font-rubik: "Rubik", ui-sans-serif, system-ui, sans-serif;

    --color-fsim: #4B78D3;

    --color-fsim-dark: #273B63;
    --color-fsim-medium: #365697;
    --color-fsim-light: #4B78D3;
}
