:root {
    --spacing-wrapper: calc(6 * var(--spacing));
}

@media print {
    :root {
        --spacing-wrapper: 0;
    }
}

@theme {
    --font-rubik: "Rubik", ui-sans-serif, system-ui, sans-serif;

    --color-fsim: #4b78d3;

    --color-fsim-dark: #111828;
    --color-fsim-medium: #1e3054;
    --color-fsim-light: #365491;

    --color-text-primary: white;
    --color-text-secondary: var(--color-neutral-400);

    --spacing-wrapper: var(--spacing-wrapper);

    --spacing-inline: calc(4 * var(--spacing));
    --spacing-content: calc(8 * var(--spacing));
    --spacing-section: calc(12 * var(--spacing));

    --animate-toast-in: toast-in 0.3s ease-out;
    --animate-toast-out: toast-out 0.3s ease-in forwards;

    --spacing-form-contents: var(--spacing-content);
    --spacing-form-labels: calc(3 * var(--spacing));
}

@keyframes toast-in {
    from {
        transform: translateY(100%);
    }
}

@keyframes toast-out {
    to {
        transform: translateX(calc(100% + var(--spacing-content)));
    }
}
